div{
 
 


 }

a{
text-decoration: none;
  color: black;
}
a:hover{
text-decoration: underline;

} 


.Main{
word-spacing:10px;
font-size: x-large;
  height:10%;
  
}
.OMnie{

margin:1cm;

 padding:1cm;

 text-align: center;

} 
.Projekty{
margin:1cm;
 padding:1cm;
 text-align: center;
}
.Kontakt{
margin:1cm, 1cm, 0cm;
 padding:1cm;
 text-align: center;
}
.tlo{
 Background-image:url(tlo.png);
 }
h1{
text-align:center;
} 
h2{
text-align:center;
} 
body{

 color:white;


} 
