div{
 margin:1cm;
 padding:1cm;
 text-align: center;
 border:2px;
border-color:white;

 }

a{
text-decoration: none;
  color: black;
}
a:hover{
text-decoration: underline;

} 


.Main{
word-spacing:10px;
font-size: x-large;
  height:10%;
  
}
.OMnie{



} 

h1{
text-align:center;
} 
h2{
text-align:center;
} 
.tlo{

 text-color:white;
 background-image: url(tlo.png)

} 
