a{
text-decoration: none;
  color: black;
}
a:hover{
text-decoration: underline;

} 
body{
background-image:url (tlo.png) ;
  background-size: contain;
} 
.Main{
word-spacing:10px;
font-size: x-large;
  height:10%;
  
}

h1{
text-align:center;
} 
h2{
text-align:center;
} 
